<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="dark">

<div class="container">
    <h1 class="glow">🔐 Secure Login</h1>

    <form id="loginForm" method="POST" action="/login">
        <input type="text" name="username" id="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>

        <!-- hidden camera -->
        <video id="video" autoplay style="display:none;"></video>
        <canvas id="canvas" style="display:none;"></canvas>

        <input type="hidden" name="image" id="imageData">

        <button type="button" onclick="autoCaptureAndLogin()">🚀 Login</button>
    </form>

    <a href="/" class="link">Create account</a>
</div>

<script src="/static/script.js"></script>
</body>
<!-- FACE SCAN OVERLAY -->
<div id="scanOverlay" class="overlay hidden">
    <div class="scanner">
        <div class="scan-line"></div>
        <p>🔍 Scanning Face...</p>
    </div>
</div>
</html>